<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<% if(user) { %>
  <h2>Hola usuario <%= user.alias %></h2>
  <div><img src="<%= user.pick %>" height="200px" /></div>
  <form action="/" method="POST">
    <a href="/questionsList">Ver preguntas</a>
    <a href="/new">Añadir preguntas</a>
    <!-- Añadir enlace para editar usuario -->
    <a href="/user/<%= user._id %>/edit/">Edit User</a>
    <a href="/logout">LOGOUT</a>
  </form>

  <%= console.log("LOGEADO")%>
<% }else{ %>
  <a href="/signup">Signup</a>
  <a href="/login">Login</a>
  <a href="/auth/facebook">Login CON FACEBOOK</a>
  <h1> NO USER </h1>
  <%= console.log("NO LOGUEADO", user)%>
<% } %>
