<p>La pregunta ha ido añadida</p>

<% if(question) { %>
  <h2>La pregunta:<br>
    <%= question.question%> <br>
    respuesta A <%=question.answA %><br>
    respuesta B <%=question.answB %><br>
    respuesta C <%=question.answC %><br>
    respuesta D <%=question.answD %></h2>
<% } %>
<a href="/">ir a index</a>
