<form action="/login" method="POST" enctype="multipart/form-data">

  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= user.name %>">

  <label for="alias">Alias</label>
  <input type="text" name="alias" id="alias" value="<%= user.alias %>">

  <label for="email">email</label>
  <input type="email" name="email" id="email" value="<%= user.email %>">

  <label for="password">password</label>
  <input type="password" name="password" id="password" value="<%= user.password %>">

  <label for="pick">pick</label>
  <input type="file" name="pick" id="pick" value="<%=user.pick %>">

  <button type="submit">Update User</button>
</form>
