<img class="logo" src="/image/e.png" alt="">
<h2 id="signup">Update</h2>

<form action="/user/<%= user._id %>" method="POST" id="form-container">
  <input class="campos" type="text" id="name" name="name" placeholder="NAME" value="<%= user.name %>">
  <input class="campos" type="text" name="alias" placeholder="ALIAS" id="alias" value="<%= user.alias %>">
  <input class="campos" type="email" name="email" id="email" placeholder="PASSWORD" value="<%= user.email %>">
  <input class="campos" type="password" name="password" id="password" value="<%= user.password %>" placeholder="PASSWORD">
  <input class="bottom5" type="submit" value="Update user">
  <a id="cancel" href="/secret">Cancel</a>

</form>
