
<h1><%= questions.question %></h1>
<a href="" id= 'resA' class='answ'><%= questions.answA %></a> <br>
<a href="" id= 'resB' class='answ'><%= questions.answB %></a> <br>
<a href="" id= 'resC' class='answ'><%= questions.answC %></a> <br>
<a href="" id= 'resD' class='answ'><%= questions.answD %></a> <br>
